.custom-navbar {
    background-color: #9e9e9e; 
    border-radius: 50px;
    padding: 10px 20px;
}


.logo-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    background-color: #fff;
}
.nav-link:hover {
    color: #ffd700 !important; 
}


@media (max-width: 991px) {
    .custom-navbar {
        border-radius: 15px; 
    }
    .navbar-collapse {
        margin-top: 15px;
        text-align: center;
    }
    .ms-auto {
        margin: 0 auto; 
        padding-top: 10px;
    }
}