name: Deploy React to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH to AWS
        uses: appleboy/ssh-action@master
        with:
          host: 54.242.1.46
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Entrar en la carpeta del proyecto en el servidor
            cd /var/www/html/Taldea4_Erronkaa
            
            # 2. Bajar los cambios que acabas de subir desde tu PC
            git pull origin main
            
            # 3. Levantar los contenedores (usando el archivo que ya vimos que existe)
            docker compose up -d --build
