name: Deploy React to EC2

on:
  push:
    branches: [ main ] # Se activa automáticamente cuando haces push a main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH to AWS
        uses: appleboy/ssh-action@master
        with:
          host: 54.242.1.46
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Entrar en la carpeta del proyecto
            cd /var/www/html/Taldea4_Erronkaa || { echo "Error: Carpeta no encontrada"; exit 1; }
            
            # 2. Bajar los cambios de GitHub (Trae el nuevo docker-compose.yml y código)
            git pull origin main
            
            # 3. Limpiar contenedores previos para liberar el puerto 80
            sudo docker stop mi_web || true
            sudo docker rm mi_web || true
            
            # 4. Construir y levantar la nueva versión
            sudo docker compose up -d --build
