name: Deploy Laravel to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 54.242.1.46
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html/Taldea4_Erronkaa
            sudo git fetch --all
            sudo git reset --hard origin/main
            sudo docker compose up -d --build
            sleep 5
            sudo docker exec mi_web php /var/www/html/Taldea4_Erronka/artisan migrate --force