name: Deploy React to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH to AWS
        uses: appleboy/ssh-action@master
        with:
          host: 54.242.1.46
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Ir al directorio donde están los archivos
            cd /var/www/html/Taldea4_Erronkaa
            
            # 2. Bajar los últimos cambios de GitHub
            git pull origin main
            
            # 3. Levantar Docker (Forzamos el nombre del archivo para que no haya dudas)
            docker compose -f docker-compose.yml up -d --build
